* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Quicksand';
}

html,
body {
  margin: 0px !important;
  color: #7f8c8d;
  font-size: 16px;
  background-color: #dde1e2;
  width: 100%;


  overscroll-behavior-y: contain;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* Personalizados */
/* Personalizados */
button {
  width: 80%;
  border-radius: 5px;
  border: none;
  padding: 5px;
  color: white;
  font-size: 14px;
}

.btn-noti-activadas {
  background-color: #3498db;
}

.btn-noti-desactivadas {
  background-color: red;
}



.oculto {
  display: none !important;
}

.seleccion {
  margin-top: 6em;
  display: block;
  margin-bottom: 6em;
}

.seleccion div {
  margin-top: 2em;
}

.seleccion-avatar {
  width: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #ecf0f1;
  position: relative;
}

/* Modal */
#modal {
  position: fixed;
  top: 1000px;
  height: 100%;
  width: 100%;
  background-color: #ecf0f1;
  z-index: 999;
  opacity: 0;
}



#modal-avatar {
  width: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #ecf0f1;
  position: absolute;
  right: 15px;
  top: 20px;
  z-index: 99999;
}

.nuevo-mensaje {
  margin-top: 6em;
  padding-left: 5px;
  padding-right: 5px;
}

.nuevo-mensaje div {
  display: inline;
  float: left;
}

.div-img {
  width: 60px;
}

.div-mensaje {
  width: 100%;
}

#cancel-btn {
  position: absolute;
  left: 5%;
  z-index: 9999;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-size: 18px;
  padding: 10px;

  width: 100%;
  resize: none;
  outline: none !important;
  border-radius: 5px;
  border: 0px;
}

.fab {
  width: 70px;
  height: 70px;
  background-color: #3498db;
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 30px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  right: 20px;
  bottom: 50px;
}

.fab-marker {
  width: 50px;
  height: 50px;
  background-color: #00ac09;
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 55px;

  position: fixed;
  left: 20px;
  bottom: 50px;
}

.fab-photo {
  width: 50px;
  height: 50px;
  background-color: #470494;
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 55px;

  position: fixed;
  left: 80px;
  bottom: 50px;
}



.bubble {
  width: 100%;
  padding: .5em 1em;
  line-height: 1.4em;
  padding: 20px;
  background-color: #ecf0f1;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  text-align: left;
  display: inline-block;
}

.bubble:hover>.over-bubble {
  opacity: 1;
}

.bubble-container {
  width: 75%;
  display: block;
  position: relative;
  padding-left: 20px;
  vertical-align: top;
  display: inline-block;
}

.arrow {
  content: '';
  display: block;
  position: absolute;
  left: 10px;
  top: 10%;
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #ecf0f1;
}

.timeline {
  margin-top: 6em;
  width: 100%;
  display: block;
  list-style-type: none;
  background-color: #dde1e2;
  padding-bottom: 2em;
  padding-left: 0px;
  margin-bottom: 2em;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:nth-child(even) {
  background-color: #d3d7d8;
}

.avatar {
  width: 18%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  margin-left: 2%;
}

.avatar img {
  width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #ecf0f1;
  position: relative;
}

.avatar:hover>.hover {
  cursor: pointer;
  opacity: 1;
}


.first {
  width: 100%;
  display: block;
  position: fixed;
  z-index: 999;
  top: 0px;

  margin: auto;
  background-color: #3498db;
  text-shadow: #2084c7 1px 1px 0;
  padding: 1em 0 !important;
  color: white;
  text-align: center;
  /* margin-top: 1em; */
  font-family: "Lato";
  font-size: 1.6em;
}

/* Iphone X fix */
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {


  #titulo,
  #titulo-mensaje {
    position: relative;
    top: 10px;
  }

  #cancel-btn {
    top: 40px !important;
  }

  .new {
    top: 40px !important;
  }

  .out {
    top: 40px !important;
  }

}


.icon-twitter {
  font-size: 1.5em;
}

.new {
  position: absolute;
  right: 5%;
  top: 30px;
}

.out {
  position: absolute;
  left: 5%;
  top: 30px;
}

.over-bubble {
  line-height: 1.4em;
  padding-top: 10%;
  background-color: rgba(236, 240, 241, 0.8);
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  position: absolute !important;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  font-size: 2.8em;
  text-shadow: white 1px 1px 0;
}

.action {
  margin-right: .3em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.icon-star {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.icon-star:hover {
  cursor: pointer;
  color: #f39c12;
}

.icon-retweet {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.icon-retweet:hover {
  cursor: pointer;
  color: #16a085;
}

.icon-mail-reply {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.icon-mail-reply:hover {
  cursor: pointer;
  color: #3498db;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Lato';
  display: inline-block;
  margin-top: .1em;
  margin-bottom: .2em;
  color: #95a5a6;
}

.retweet {
  position: absolute;
  opacity: 1;
  top: 0;
  right: 1em;
  display: block;
  background-color: #16a085;
  padding: 4px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.retweet .icon-retweet {
  color: white;
  margin: auto;
  width: 100%;
  display: block;
  font-size: 1.2em;
}

.retweet div {
  color: white;
}